  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    border:none;
    outline: none;
    padding: 0;

}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#4dbae6ff;
    --other-color: #1b1d21ff;
}
.dark-Mode {
    --bg-color:#fff;
    --second-bg-color:#ebe8e8;
    --text-color:#000;
    --main-color:#4dbae6ff;
    --other-color: #000;  
}
html{
    overflow-x:hidden;
    font-size: 62.5%;

}
body{
    background: var(--bg-color);
    color: var(--text-color);
    transition: background 0.8s, color 0.8s;
    width: 100%;

}
/* ======= Pre-loader======= */

#pre-loader {
    background:var(--other-color) url(/olsenfischer.github.io/img/pageloader.gif) no-repeat center center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    position: fixed;
    z-index: 100;
    
}

/* ======= Header ======= */

.header{
    position: fixed;
    top: 0;
     left: 0;
     width: 100%;
     padding: 2.5rem 9%;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
     display: flex;
     background: var(--bg-color);
     float: left;
     border-bottom: 1px solid var(--second-bg-color);
}
.header .sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
    cursor:default;
    width: 10vw;
   
}
.nav a {
   font-size: 1.6rem;
   font-weight: 700;
   color:var(--text-color);
   margin-left: 4rem;
   text-decoration: none;
   display: flex;
   float: left;
   align-content: flex-end;
}
.nav #sun{
    display: none;
}  
.nav a:hover,
.nav a.active{
    color:var(--main-color);
}

#menu-icon, #close-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
min-height: 100vh;
padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content {
    flex:1;
    padding: 5rem;
}
.home-content h3{
    font-size: 1.9rem;
    font-weight: 700;
}
.home-content h1{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 8px;
}


.home-img img{
width: 35vw;
border-radius: 15%;
animation: floatImage 4s ease-in-out infinite;
}



@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.2rem);
    }
    100%{
        transform: translateY(0);
    }

}
.home-content p{
    font-size: 1.6rem;

}
.social-media a{
    display: inline-flex;
    justify-content:center;
    align-items: center;
    width:4rem;
    height: 4rem;
    background: transparent;
    border: 2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2.2rem;
    color:var(--bg-color);
    margin: 3rem 1.5rem 1rem 0;
    transition: 1s ease;
    text-decoration: none;

}
.social-media a:hover{
    background: var(--main-color);
    color: var(--text-color);

}
.home-content h3:nth-of-type(2){
margin-bottom: 2rem;
}
h2 span{
    color: var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    margin-top: 2.4rem;
    border-radius:.4rem;
    font-size: 1.4rem;
     color: var(--main-color);
     letter-spacing: .1rem;
     font-weight: 500;
     text-decoration: none;
     border: 1.5px solid var(--main-color);
     transition: 0.8s;
    
    
}
.btn:hover{
    
    color: var(--text-color);
    background-color: var(--main-color);

}
.multiple-text {
    color: var(--main-color);
}

/* ============= ABOUT SECTION =========*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background: var(--second-bg-color);

}
.about-img img {
    width: 30vw;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
   
}
.header .sticky{
    border-bottom: 1rem solid rgba(0, 0, 0, 0.2);
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    padding-bottom: 30px;
    font-size: 2.7rem;

}
.about-content h3{
    font-size:  1.5rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

 

/*====== SERVICES SECTION =====*/

  .services{

     align-items: center;
    justify-content: center;
}
      .services .service-h h2 {
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 2.7rem;
        padding-top: 20px;
        padding-bottom:30px; 
       
      }   

    
      .services .container {
        flex: 1;
        align-items: center;
        text-align: center;
        justify-content:center;
        display: flex;
      }
      .services .container .row  {
        display: flex;
        width: 115em;
        flex-direction: row;
        gap: 15px;
    }
    
    .services .container .col-1 {
          position: relative;
          margin-top: 30px;
          border-radius: 0;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
          overflow: hidden;
          width: 100%;
          padding: 50px 30px;
          background-color: var(--second-bg-color);
      }

      .services .container  p{
        font-size: 15px;
        font-weight: 300;
        z-index: 20;
        position: relative;
        text-align: start;     
      }
      .services .container  .icon {
        display: inline-block;
        position: relative;
        margin-bottom: 25px;
        height: 50px;
        width: 50px;
        color: var(--text-color);
        background-color: var(--main-color);
        font-size: 40px;
        border-radius: 10px;
        transition: all .5s;

      }
      .services .container .col-1:hover .icon {
       background-color: var(--text-color);
       color: var(--main-color);
       border-radius: 50%;
       z-index: 1;
      }
      
      .services .container .col-1:hover a{
        color: var(--bg-color);
        font-weight: 800;
      }
      .services .container .col-1:hover h3{
        color: var(--text-color);
      }
      .services .container h3{
        margin-bottom: 10px;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 1.4rem ;
        color: var(--text-color);
        transition: color 0.3s;

      }

      .services .container a {
        color: var(--text-color);
        position: relative;
        text-decoration: none;
        transition: color .3s;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .services .container a::after {
        content: '';
        position: absolute;
        bottom: -2px;
        width: 54px;
        height: 1.5px;
        background-color: var(--main-color);
        transition: .3s;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .services .container .col-1 .circle-before{
        position:absolute;
        top: 0;
        right: 0;
        transform: translate(40%, -40%);
        width: 100px;
        height: 100px;
       background-color: var(--main-color);
       border-radius: 50%;
       transition: all 0.6s;
        
      } 
      .services .container .col-1:hover .circle-before{
        width: 100%;
        height: 100%;
        opacity: 0.8;
        transform: none;
        border: 0;
        border-radius: 0;

    }
      
    /* ==========SKILLS STYLES ========== */
    .skills{
        display: flex;
        background: var(--second-bg-color);
        justify-content: center;
        align-items: center;
        height: 100vh;
        padding-top: 10px;
    }
    .skills-main {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 30px;
        grid-column-gap: 50px;
    }
    .skills .title-skill, h2{
        text-align: center;
        font-size: 2.7rem;
        padding: 20px;
        margin-top: 0; 
    }
    
    .skill-bar{
        margin-bottom: 2.3rem;
    }
    .skills-main h3 {
        margin-bottom: 2rem;
        font-size: 1.7em;
        text-align: center;
        padding: 10px;
    }
    .skill-left .skill-bar .info {
        display: flex;
        justify-content: space-between;
        text-align: center;
        padding: 0 10px;

    }
    .skill-left .skill-bar .bar {
        width: 100%;
        height: 10px;
        border-radius: 25px;
        background-color: var(--bg-color);
        margin-top: 10px;
        position: relative;
    }
    .skill-left .skill-bar .bar span {
        width: 50%;
        height: 100%;
        position: absolute;
        left: 0;
        background: var(--main-color);
        border-radius: 25px;
    }
    .skill-left .skill-bar .bar .html {
        width: 86%;
        animation: html 3s;
    }
    .skill-left .skill-bar .bar .css {
        width: 82%;
        animation: css 4s;
    }
    .skill-left .skill-bar .bar .Javascript {
        width: 72%;
        animation: Javascript 5s;
    }
    .skill-left .skill-bar .bar .c {
        width: 60%;
        animation: c 6s;
    }
    .skill-left .skill-bar .bar .data-analysis {
        width: 83%;
        animation: data-analysis 7s;
    }
    .skill-left .skill-bar .bar .Wordpress {
        width: 88%;
        animation: Wordpress 7s;
    }
    @keyframes html {
       0% {
        width: 0%;
       } 
       100% {
        width: 86%;
       } 
    }
    @keyframes css {
       0% {
        width: 0%;
       } 
       100% {
        width: 82%;
       } 
    }
    @keyframes Javascript {
       0% {
        width: 0%;
       } 
       100% {
        width: 72%;
       } 
    }
    @keyframes c {
       0% {
        width: 0%;
       } 
       100% {
        width: 60%;
       } 
    }
    @keyframes data-analysis {
       0% {
        width: 0%;
       } 
       100% {
        width: 83%;
       } 
    }
    @keyframes Wordpress {
       0% {
        width: 0%;
       } 
       100% {
        width: 88%;
       } 
    }
    
/* ======== skills-right =======*/

.skill-right .professional {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 55px;
}

.skill-right .professional .box {
    position: relative;
    margin: 10px 0;
    flex: 1 1 15rem;
}
.skill-right .box .text big{
    font: 400;
    letter-spacing: 1px;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.skill-right .box .text small {
    display: block;
    font-weight: 600;
    font-size: 12px;
    padding: 10px;

}

.skill-right .box .text {
    text-align: center;
    color: var(--text-color);
    font-size: 1rem;
    margin-right: 80px;
}
.skill-right .professional .circle {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--second-bg-color);
    border-radius: 50%;
    background: conic-gradient(var(--main-color)3.8deg, var(--bg-color)0deg);
}
.skill-right .professional .circle::after{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    background: var(--bg-color);
    border-radius: 50%;

}




@keyframes glow {
    0% {
        background: var(--bg-color);
        box-shadow: none;
    }
    100% {
        background: var(--main-color);
        box-shadow: var(--bg-color);
    }
}
   
.maquee-txt{
    position: relative;
    overflow: hidden;
    background-color: var(--main-color);
    width: 100% ;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.maquee-txt .scroll-txt {
    white-space: nowrap;
    padding: 60px;
    text-transform: uppercase;
    box-sizing: content-box;
    display: flex;
    animation: animate 20s linear infinite;
    animation-delay: -20s;
    font-weight: 900;
    font-size: 4.5rem;
}

.maquee-txt:hover .scroll-txt {
    animation-play-state: paused;
}

.maquee-txt .scroll-txt:nth-child(2) {
animation: animate2 20s linear infinite;
animation-delay: -20s;
}
.maquee-txt .scroll-txt h1{
    -webkit-text-stroke: 1px var(--second-bg-color);
    color: transparent;
    font-weight: 900;
}



@keyframes animate {
 0%{
    transform: translateX(100%);
 } 
 100% {
    transform: translateX(-100%);
 }  
}
@keyframes animate {
    0%{
       transform: translateX(0);
    } 
    100% {
       transform: translateX(-200%);
    }  
   }

   @media screen and (max-width: 768px){
    .maquee-txt .scroll-txt h1{
        font-size: 4rem;
        padding: 10px;
    }
    }  

/* ======Testimonials===== */

.feedback .testimonials{
    align-items: center;
    justify-content: center;
    background: var(--bg-color);
}


.testimonials .slider-content {
   max-width: 1120px;
   align-items: center;
   width: 100%;
   padding: 40px 0;
   background:var(--bg-color);


}
.testimonials .card {
    width: 320px;
    height: 400px;
    border-radius: 20px;
    background: var(--second-bg-color);
}
.testimonials .card-content {
    margin: 0 20px;
    color: var(--text-color );
    font-size: 1.3rem;
    text-align: center;
}
.testimonials .card-content a{
    color: var(--text-color);
    position: relative;
    text-decoration: none;
    transition: color .3s;
    font-size: 1rem;
    padding-top: 5px;

}


.testimonials .card-content a::after {
content: '';
position: absolute;
bottom: -2px;
left: 0;
right: 0;
height: 2px;
background-color: var(--main-color);
transition: .3s;
}

.testimonials .card-content, .image-content{
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 14px;
}
.testimonials .image-content {
    row-gap: 5px;
    position: relative;
}
.testimonials .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: var(--main-color);
    border-radius: 20px 20px 0 20px;
}
.testimonials .overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background: var(--main-color);
}
.testimonials .overlay::after {
border-radius: 0 20px 0 0;
background: var(--second-bg-color);
}
.testimonials .swiper-button-prev::after,
.testimonials .swiper-button-next::after{
    content:'';
}

.testimonials .swiper-button-next,.testimonials .swiper-button-prev {
    width: initial;
    height: initial;
    font-size:3rem;
    color: var(--main-color);
}

.testimonials .card-content h3 {
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 10px;
}
.testimonials .card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: var(--second-bg-color);
    padding: 4px;
}
.testimonials .card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--main-color);
}
.testimonials .swiper-button-next::after,
.swiper-button-prev::before{
  content: '';
  display: none;

}
.swiper-button-next,.swiper-button-prev{
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--main-color);
}

@media screen and (max-width: 320px){
   .slider-content {
   padding: 1rem;
   } 
   .swiper-button-prev {
    display: block;
   }
}
@media screen and (max-width: 768px){
   .slider-content{
    margin-inline: 3rem;
    margin: 10px ;
    margin-right: 10px ;
   } 
   

.testimonials .swiper-button-prev,
.testimonials .swiper-button-next {
    font-size: 2.5rem; 
}
}
@media screen and (max-width: 1120px){
   .slider-content{
    max-width: 1120px;
   } 
   .swiper-button-next{
    right: -1rem;
   }
    
   .swiper-button-prev{
    left: -1rem;
   }
    
}

/* =====PROJECTS BUTTON===== */
.projects-btn{
    padding-top: 10px;
    padding: 30px;
}
.projects-btn, a{
   align-items: center;
   justify-content: center;
   position: relative;
   display: flex;
}
.projects-btn a{
    text-decoration: none;
}
.projects-btn .project {
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-weight: 500;
    color: var(--text-color);
    border-radius: .3rem;
    font-size: 1.7rem;
    margin-top: 15px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, .3);
    border: solid .2px var(--main-color);
}
.projects-btn a:visited{
    color: var(--main-color);
}
.projects-btn .project:hover{
   background: var(--main-color);
   color: var(--text-color);
}


.projects-btn .project span{
    position: absolute;
    display: block;
}
.projects-btn .project span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent var(--main-color));
}



/* =====CONTACT SECTION===== */
 
.directCall{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.directCall .callContainer {
    display: flex;
}
.directCall .callContainer .adress {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width:400px ;
    padding: 10px;
    background: var(--second-bg-color);

}
.directCall .callContainer .adress .adressIcon{
    font-size: 10em;
    align-items: center;
    justify-content: center;
    margin: 20px;
    align-items: center;
}
.directCall .callContainer .adress .adress-txt{
    font-size: 1.1rem;
}
.callContainer .adress .adressIcon i {
    background: var(--main-color);
    width: 120px;
    padding: 10px;
    height: 120px;
    border-radius: 50%;
}
.callContainer .adress .adress-txt h3{
    font-size: 1.8rem;
    color: var(--main-color);
}
.contact h2{
    margin-bottom: 1.5rem;
    font-weight: 600;
    font-size: 3rem;
}
.contact form{
    max-width: 60rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact .locationMap{
    display: flex;
    margin-right: 15px;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color:var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form textarea:focus{
    background: var(--bg-color);
    border: 1px solid var(--second-bg-color);
}
.contact form .input-box input:focus{
    background: var(--bg-color);
    border: 1px solid var(--second-bg-color);
}
.contact .inputBx{
    display: flex;
    flex-direction: row;
}

.contact .inputBx input{
    width: 35rem;
    margin-bottom: 1rem;
    border-radius: .8rem;
    padding: 1.5rem;
    margin-right: .5rem;
    font-size: 1.6rem;
    margin-left: .5rem;
    background: var(--second-bg-color);
    color: var(--text-color);
}
.contact .inputBx input:focus{
    border: 1px solid var(--second-bg-color);
    background: var(--bg-color);
}
.contact .formSection, .formsec{
    display: flex;
    align-items: center;
    justify-content: center;
} 
.contact .formSection form{
    align-self: center;
    margin-right: 20px;
}
.contact .formSection .locationMap  iframe{
    border-radius: .9rem;
}

/* ======submit btn===== */
.contact .contbtn{
    display: inline-block;
    padding: 1rem 2.8rem;
    margin-top: 2.4rem;
    border-radius: 1rem;
    font-size: 1.4rem;
     color: var(--main-color);
     background: var(--bg-color);
     letter-spacing: .1rem;
     font-weight: 600;
     text-decoration: none;
     border: 2px solid var(--main-color);
     transition: 0.3s ease-in-out;
     cursor: pointer;
}
.contact .contbtn .submiting::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:var(--main-color);
    left: 4px;
    top: 4px;
    border-radius: 50%;
    opacity: 0;
    animation: move 1s infinite ease-in-out;

}
@keyframes move{
    50%{
        opacity: 1;
    }
    to{
        left: 296px;
    }
}
.contact .contbtn .submiting{
    height: 28px;
}



.footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 9%;
    background: var(--second-bg-color);

}
.footer p{
  text-align: center;
  align-items: center;
  font-size: 1.2rem;   
}
.footer-icontop a{
display: inline-flex;
justify-content: center;
align-items: center;  
padding: .8rem;
background: var(--main-color);
border-radius: .8rem;  
}
.footer-icontop a i{
    font-size: 2.2rem;
    color: var(--text-color);
    text-decoration: none;
}




                     /* Breakpoint */

 @media(max-width:1200px){

    html{
        font-size: 55%;
    }
    .directCall .callContainer .adress {
        width: 100%;
    }
    .contact .formSection{
        width: 100%;
        align-items: center;
        margin: auto;
    }
 } 
                  
 @media(max-width:991px){

    header{
        font-size:2rem 3% 2rem;
    }
    .service{
        margin-bottom: 4rem;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    
    footer{
        padding: 1rem 2%;
    }
    .skills-main {
        grid-template-columns: 1fr;
    }
    .formSection {
        flex-direction: column;
        align-items: center;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .formSection form,
    .formSection .locationMap {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }
    .formSection .inputBx{
        text-align: center;
    }
     
 } 

 @media (max-width: 768px) {
    header{
       box-sizing: border-box;
       width: 768px !important;
    }
    .header img{
       margin-right: 20px;
    }
    
    .nav{
       display: none;
       flex-direction: column;
       position: absolute;
       top: 70px;
       left: 0;
   
    }
    .nav.show{
       display: flex;
    }
    
   
}
 @media(max-width:768px){
#menu-icon{
    display: block;
}
.nav{
    position: absolute;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    display: none;
    text-align: center;
}
section{
    padding-bottom:8rem ;
}
.nav .active{
    display: block;
}
.nav a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;

}
.home{
    flex-direction: column;
    padding-top: 50px;
}

.home  h3{
    font-size: 1.5rem;
}
.home  h1{
    font-size: 2.8rem;
 } 

 .home  img{
    width: 60vw;
    margin-top: 4rem;
 }
 .about{
    flex-direction: column-reverse;

 }
 .about img{
    width: 60vw;
    margin-top: 4rem;

 }
 .services .container .row{
    flex-direction: column;
    text-align: center;
 }
 .services .container .col-1 {
    
    text-align: center;

}
.skills{
 height: 1200px;
}
.skills .skills-main {
    grid-template-columns: 1fr;
    position: relative;
}

.skill-left,
.skill-right {
    text-align: center;
} 
.directCall .callContainer {
    flex-direction: column;
}
.directCall .callContainer .adress {
    width: 100%;
    margin-bottom: 20px;
}
.portfolio-container{
        grid-template-columns: repeat(1,1fr);
    }
.feedback-sec .card{
    grid-template-columns: repeat(1,1fr);

}
.formSection {
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

    .formSection form,
    .formSection .locationMap {
        max-width: 100%;
        text-align: center;
        align-items: center;
    }
    .formSection .inputBx{
        text-align: center;
    }
 }

 @media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .services .container .row {
        width: 90%;
    }

 }
 

 
 @media (max-width:450px){
   html{

    font-size: 50%;
   }
   .contact form .input-box input{
    width: 100%;
   }
     }
     @media (max-width:365px){
       .home-img img{
        width:90vw;
       }
       .about-img{
        width:90vw;
       }
       .footer{
flex-direction: column-reverse;
       }

       .footer p{
        text-align: center;
        margin-top: 2rem;
       }
       .services .container .col-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }
        
          }
